@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,400,500,700");

.result {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #000;
}

.album-title {
    /* height: 134px; */
    /* padding-bottom: 64px; */
}

.flex-item {
    background: #fff;
    display: inline;
    padding: 5px;
    width: 150px;
    height: 150px;
    margin: 10px;
}
